<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="school"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>iMathYou</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-router-link href="calculadora">
        <p><ion-icon name="calculator-outline" class="ico-calc"></ion-icon></p>
        <strong>Calculadora</strong>
        <p>Operadores aritméticos</p>
      </ion-router-link>
    </ion-card>
    
    
  </div>
</ion-content>
